

body {
  font-family: 'Coda', cursive;
 background:blanchedalmond
} 

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  padding: 10px;
  justify-content: center;
   text-align: center;
   align-items: center;
 
}

#game div {
  border: 1px solid black;
  width: 10%;
  height: 100px;
  margin: 20px;
  display: inline-block;
	border-radius: 8px;
	z-index: 2;
background-image: url(./image/dark-chain-background.png);
} 

/* #game {
  display: grid;
  grid-template-columns: repeat(6, 5vw);
  grid-template-rows: repeat(4, 5vw);
  grid-gap: 2vw;
  justify-content: center;
  margin-top: -5rem;
  background-image: url(./img/dark-chain-background.png);
} */

.btn {
	border-radius: 1em;
	border: none;
	color: #fff;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	padding: 0.8em;
  cursor: pointer;
  background: #000;
  margin:5px;
}

section{
margin:30px;
}

