body{
    background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  }
  
  h1{
    font-size: 4vw;
    text-align: center;
    font-family: sans-serif;
    color:blanchedalmond;
    text-shadow: 3px 5px blue;
  }
  
  #highestscore > h3{
    text-align: center;
    font-size: 2.5vw;
    color:blanchedalmond;
    text-shadow: 1px 3px blue;
    
  }
  
  #score > h3{
    text-align: center;
    font-size: 2.5vw;
    color:blanchedalmond;
    text-shadow: 2px 3px blue;
  
  }
  
  #timer > h3{
    text-align: center;
    font-size: 2.5vw;
    color:blanchedalmond;
    text-shadow: 2px 3px blue;
  
  }
  
  #game {
    display: grid;
    grid-template-columns: repeat(6, 5vw);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 2vw;
    justify-content: center;
    margin-top: -5rem;
  }
  
  
  
  #game>div {
    border-radius: 10px;
    background-image: url(img/smiley.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
  }
  
  #game > div {
    box-shadow: 15px 2px 20px 0 rgba(46, 61, 73, 0.5);
  }
  
  
  
  #btn1{
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
  }
  
  #btn1 button{
    background-color: gold;
    color: Blue;
    border: 2px solid rgb(95, 67, 67);
    font-size: 2vw;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 1.5vw 3vw;
    transition-duration: 0.4s;
    outline: none;
  }
  
  
  
  
  #btn1 >button:hover {
    background-color: coral;
    color: white;
    font-weight: bolder;
    cursor: pointer;
  
  }
  
  /*
  #game div {
    border: 1px solid black;
    width: 10rem;
    height: 10rem;
    margin: 10px;
    padding: 3rem;
    display: inline-block;
    background-color: pink;
    border-radius: 3px;
  } 
  */
  
  .modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 61, 73);
    background-color: rgba(46, 61, 73, 0.6);
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    margin: 5% auto;
    border-radius: 1rem;
  /*  border: 0.8em solid #fc4;  */
    padding-right: 2em;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    align-self: flex-end;
    color: #28e;
    font-size: 5em;
  }
  .close:hover,
  .close:focus {
    color: #5cf;
    text-decoration: none;
    cursor: pointer;
  }
  
  .play-btn {
    border-radius: 1em;
    border: none;
    color: #fff;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 0.8em;
    transition-duration: 0.4s;
    outline: none;
    cursor: pointer;
  }
  
  .play-again-btn {
    background: #28e;
    margin-bottom: 1em;
  }
  
  .play-again-btn:hover{
    background-color: coral;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  #greet{
    margin-top: -1rem;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#09203F , #537895);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #message{
    margin-top: -1rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    background: linear-gradient(#09203F , #537895);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  
  @media screen and (min-width:350px) and (max-width:650px){
  
    #game {
      display: grid;
      grid-template-columns: repeat(4, 50px);
      grid-template-rows: repeat(6, 50px);
      grid-gap: 2vw;
      justify-content: center;
      margin-top: -1rem;
    }
    
    h1{
      font-size: 2rem;
      text-align: center;
      text-shadow: 2px 4px blue;
    }
  
    #highestscore > h3{
      font-size: 1.2rem;
      text-align: center;
      text-shadow: 1px 2px blue;
    }
    
    #score > h3{
      font-size: 1.2rem;
      text-align: center;
      text-shadow: 1px 2px blue;
    }
    
    #timer > h3{
      font-size: 1.2rem;
      text-align: center;
      text-shadow: 1px 2px blue;
    }
  
    #greet{
      font-size: 2rem;
      text-align: center;
    }
  
    #message{
      font-size: 1.5rem;
      text-align: center;
    }
  
    .close{
      font-size: 2rem;
    }
  }
  
  
  @media screen and (min-width:651px) and (max-width:880px){
  
    #game {
      display: grid;
      grid-template-columns: repeat(6, 50px);
      grid-template-rows: repeat(4, 50px);
      grid-gap: 2vw;
      justify-content: center;
      margin-top: -2rem;
    }
    
    h1{
      font-size: 3rem;
      text-align: center;
    }
  
    #highestscore > h3{
      font-size: 2rem;
      text-align: center;
    }
  
    #score > h3{
      font-size: 2rem;
      text-align: center;
    }
    
    #timer > h3{
      font-size: 2rem;
      text-align: center;
    }
  
  
    #greet{
      font-size: 2rem;
      text-align: center;
    }
  
    #message{
      font-size: 1.5rem;
      text-align: center;
    }
  
  
  }
  
  